<app-header titulo="Cadastro"></app-header>
<app-modal></app-modal>

<div class="content">
  <div class="portrait">
      <div class="profile">
          <div class="circle">L</div>
      </div>
      <div class="description">
          <span class = "item">Lucas Mattos Amorim</span>
          <span class = "item">amorim22lucas@gmail.com</span>
          <span class = "item">1,83 m</span>
      </div>
  </div>

  <a data-bs-toggle="modal" data-bs-target="#staticBackdrop1">
      <button>
          Editar Cadastro
      </button>
  </a>
</div>
