.other_options{
  margin-top:0.825rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.other_options a{
  width:auto;
  margin-bottom: 5px;
}

.other_options button{
  border:none;
  width: 100%;
  padding:0%;
  background-color: transparent;
  color: var(--text-color);
  font-size: 1rem;
}

.other_options button:hover{
  color: var(--text-color-light);
}
