<div class="details" *ngIf="info.type=='Login'">
  <form class="form" action="">
      <input class="field"type="text" placeholder="login">
      <input class="field"type="password" placeholder="senha">
  </form>
  <div class="remember_login">
      <input type="checkbox" id="switch">
      <label for="switch">toggle</label>
      <span>lembrar login e senha</span>
  </div>
  <a (click)="goToDashboard()">
      <input class="ok" type="submit" value="ok" >
  </a>
</div>

<div class="details" *ngIf="info.type=='Conta'">
  <form class="form" action="">
      <input class="field"type="text" placeholder="login">
      <input class="field"type="text" placeholder="senha">
      <input class="field"type="text" placeholder="confirmar senha">
      <input class="field"type="text" placeholder="nome completo">
      <input class="field"type="text" placeholder="e-mail">
      <input class="field"type="text" placeholder="altura (m)">
      <a data-bs-toggle="modal" data-bs-target="#staticBackdrop1">
        <input class="ok" type="submit" value="Criar conta" style="font-size: 20px;">
      </a>
  </form>
</div>

<div class="details" *ngIf="info.type=='Senha'">
  <form class="form" action="">
      <input class="field"type="text" placeholder="Digite aqui o seu e-mail">
      <a data-bs-toggle="modal" data-bs-target="#staticBackdrop1" >
        <input class="ok" type="submit" value="Enviar senha" style="font-size: 20px;">
      </a>
  </form>
</div>
