.modal{
  align-items: center;
  flex-direction: column;
  background-color: var(--third-color);
  padding-top:15%;
}

.modal-dialog{
  width: 20%;
  background-color: transparent;
  border-radius:3px;
  margin:auto;
}

.modal-content{
  border:none;
  background-color: var(--primary-color);
  box-shadow: 0 0.1875rem 0.375rem rgba(0,0,0,0.16), 0 0.1875rem 0.375rem rgba(0,0,0,0.23);
}

.alert{
  border:none;
  background-color: transparent;
  text-align: center;
  font-size:18px;
  font-weight: 500;
  margin:0;
  padding:0;
  padding-bottom:5px;
}


.modal-body{
  border-radius:3px;
  padding:12px 20px 0px 20px;
  margin:0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--primary-color);
}

.modal-body .item{
  width: 100%;
  margin-top: 0.3125rem;
  margin-bottom: 0.3125rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  border-bottom: solid var(--text-color);
}

.modal-body .item input{
  width: 100%;
  color:var(--text-color);
  border: none;
  background-color: transparent;
  font-size: 1.125rem;
}

.modal-body .item input:focus{
  outline-width: 0;
}



.modal-footer{
  margin:0;
  background-color: var(--primary-color);
  border:none;
}

.modal-footer .buttons{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  font-size: 18px;
}

.modal-footer .buttons a{
  width: 6.875rem;
  height: 2.5rem;
}

.modal-footer .buttons button{
  color: var(--text-color);
  background-color: var(--secondary-color);
  border:none;
  border-radius: 0.25rem;
  width:100%;
  height:100%;
  box-shadow: 0 0.0625rem 0.1875rem rgba(0,0,0,0.12), 0 0.0625rem 0.125rem rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.modal-footer .buttons a button:hover{
  box-shadow: 0 0.875rem 1.75rem rgba(0,0,0,0.25), 0 0.0625rem 0.125rem rgba(0,0,0,0.22);
}

@media screen and (max-width:1050px){

  .modal{
      padding-top:25%;
  }

  .modal-dialog{
      width: 30%;
  }
}

@media screen and (max-width:770px){

  .modal{
      padding-top:35%;
  }

  .modal-dialog{
      width: 40%;
  }
}

@media screen and (max-width:570px){

  .modal{
      padding-top:55%;
  }

  .modal-dialog{
      width: 60%;
  }
}

@media screen and (max-width:415px){

  .modal-dialog{
    width: 80%;
}

}
