<div class="content">

  <app-content-cadastro *ngIf="content.type=='Cadastro'"></app-content-cadastro>

  <app-content-dashboard *ngIf="content.type=='Dashboard'"></app-content-dashboard>

  <app-content-peso *ngIf="content.type=='Peso'"></app-content-peso>

  <a *ngIf="content.hasButton" data-bs-toggle="modal" data-bs-target="#staticBackdrop1">
      <button disabled *ngIf="content.buttonDisable">
        Editar {{content.type}}
      </button>

      <button *ngIf="!content.buttonDisable && content.type=='Cadastro'"  id="active">
        Editar {{content.type}}
      </button>
      <button *ngIf="!content.buttonDisable && content.type=='Peso'"  id="active">
        Adicionar {{content.type}}
      </button>
  </a>
</div>
