@import "~bootstrap-icons/font/bootstrap-icons.css";

:root {
  --background-color: #FFFFFF;
  --primary-color: #C4C4C4;
  --secondary-color: #D3D3D3;
  --third-color: rgba(211,211,211,0.65);
  --text-color: #696969;
  --text-color-light: #D3D3D3;
}

html, body, .main {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: var(--background-color);
  font-family:'Segoe UI',  sans-serif;
}

body{
  overflow: none;
}

a {
  width: 100%;
}

a:hover {
  color: var(--text-color-light);
}
