<div class="middle">
  <div class="left">
      <button>
          <i class="bi bi-caret-left-fill"></i>
      </button>
  </div>
  <div class="center">
      <div class="graph">
          <div class="bars">
              <div class="bar">
                  <span>70</span>
                  <div id="bar1"></div>
              </div>
              <div class="bar">
                  <span>68,5</span>
                  <div id="bar2"></div>
              </div>
              <div class="bar">
                  <span>66</span>
                  <div id="bar3"></div>
              </div>
          </div>
          <div class="dates">
              <span>06/01/2020</span>
              <span>16/01/2020</span>
              <span>03/02/2020</span>
          </div>
      </div>
      <div class="circle">
          <div class="imc">
              <div class="group">
                  <span>19,71</span>
                  <span class="mini">IMC*</span>
              </div>
          </div>
      </div>
  </div>
  <div class="right">
      <button>
          <i class="bi bi-caret-right-fill"></i>
      </button>
  </div>
</div>

<footer>
  <span> Índice de Massa Corporal*</span>
</footer>
