.middle .center .graph{
  width:100%;
  height:60%;
  display:flex;
  flex-direction: column;
}

.middle .center .graph .bars{
  width:100%;
  height:92%;
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.middle .center .graph .bars .bar{
  width:8%;
  height: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  font-size:1.275rem;
  font-weight: 500;
  color: var(--text-color);
}

.middle .center .graph .bars .bar span{
  margin-bottom:0.625rem;
}

.middle .center .graph .bars .bar #bar1{
  width:100%;
  margin-bottom:0.625rem;
  background-color: var(--secondary-color);
  height: 65%;

  box-shadow: 0 0.0625rem 0.1875rem rgba(0,0,0,0.12), 0 0.0625rem 0.125rem rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.middle .center .graph .bars .bar #bar1:hover{
  box-shadow: 0 0.875rem 1.75rem rgba(0,0,0,0.25), 0 0.0625rem 0.125rem rgba(0,0,0,0.22);
}

.middle .center .graph .bars .bar #bar2{
  width:100%;
  margin-bottom:0.625rem;
  background-color: var(--secondary-color);
  height: 53%;

  box-shadow: 0 0.0625rem 0.1875rem rgba(0,0,0,0.12), 0 0.0625rem 0.125rem rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.middle .center .graph .bars .bar #bar2:hover{
  box-shadow: 0 0.875rem 1.75rem rgba(0,0,0,0.25), 0 0.0625rem 0.125rem rgba(0,0,0,0.22);
}

.middle .center .graph .bars .bar #bar3{
  width:100%;
  margin-bottom:0.625rem;
  background-color: var(--secondary-color);
  height: 43%;

  box-shadow: 0 0.0625rem 0.1875rem rgba(0,0,0,0.12), 0 0.0625rem 0.125rem rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.middle .center .graph .bars .bar #bar3:hover{
  box-shadow: 0 0.875rem 1.75rem rgba(0,0,0,0.25), 0 0.0625rem 0.125rem rgba(0,0,0,0.22);
}

.middle .center .graph .dates{
  width:100%;
  height:8%;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size:0.95rem;
  font-weight: 500;
  color: var(--text-color);
  border-top: solid var(--primary-color) 0.1875rem;
}

@media screen and (max-width:375px){

  footer{
    font-size:0.725rem;
  }

  .middle .center .graph .bars .bar{
    font-size:1.075rem;
  }

  .middle .center .graph .dates{
    font-size:0.75rem;
  }

  .middle .left button{
      width: 1.25rem;
      height: 1.25rem;
      border-radius: 1.25rem;
      font-size: 0.5625rem;
  }

  .middle .right button{
      width: 1.25rem;
      height: 1.25rem;
      border-radius: 1.25rem;
      font-size: 0.5625rem;
  }

}
