<div class="table">
  <div class="head">
      <span>DATA</span>
      <span>PESO (KG)</span>
      <span>AÇÕES</span>
  </div>
  <div class="row">
      <span>06/01/2020</span>
      <span>70 kg</span>
      <div>
          <a data-bs-toggle="modal" data-bs-target="#staticBackdrop1">
              <button>
                  <i class="bi bi-pencil"></i>
              </button>
          </a>
          <a data-bs-toggle="modal" data-bs-target="#staticBackdrop3">
              <button>
                  <i class="bi bi-trash-fill"></i>
              </button>
          </a>
      </div>
  </div>
  <div class="row">
      <span>16/01/2020</span>
      <span>68,5 kg</span>
      <div>
          <a data-bs-toggle="modal" data-bs-target="#staticBackdrop1">
              <button>
                  <i class="bi bi-pencil"></i>
              </button>
          </a>
          <a data-bs-toggle="modal" data-bs-target="#staticBackdrop3">
              <button>
                  <i class="bi bi-trash-fill"></i>
              </button>
          </a>
      </div>
  </div>
  <div class="row">
      <span>03/02/2020</span>
      <span>66 kg</span>
      <div>
          <a data-bs-toggle="modal" data-bs-target="#staticBackdrop1">
              <button>
                  <i class="bi bi-pencil"></i>
              </button>
          </a>
          <a data-bs-toggle="modal" data-bs-target="#staticBackdrop3">
              <button>
                  <i class="bi bi-trash-fill"></i>
              </button>
          </a>
      </div>
  </div>
</div>
