.table{
  width:100%;
  height:20%;
  color: var(--text-color);
}

.table .head{
  width:100%;
  height:40%;
  font-weight: 500;
  font-size: 20px;
  background-color: var(--secondary-color);
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0 0.0625rem 0.1875rem rgba(0,0,0,0.12), 0 0.0625rem 0.125rem rgba(0,0,0,0.24);
}

.table .head span{
  text-align:center;
  width:6.25rem;
}

.table .row{
  font-size: 20px;
  width:100%;
  height:50%;
  display:flex;
  margin:0;
  flex-direction: row;
  text-align:center;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: solid var(--text-color) 0.125rem;
}

.table .row span{
  text-align:center;
  width:7.25rem;
}

.table .row div{
  width:7.25rem;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.table .row a{
  width: 2.375rem;
  height: 2.375rem;
  padding:0;
}

.table .row button{
  width: 100%;
  height: 100%;
  border-radius: 2.375rem;
  align-items:center;
  padding:0;
  border:none;
  color: var(--text-color);
  font-size: 1.3rem;
  margin-top: 6.25rem;
  margin-right: 1.25rem;
  background-color: var(--primary-color);
  margin:0;
  box-shadow: 0 0.0625rem 0.1875rem rgba(0,0,0,0.12), 0 0.0625rem 0.125rem rgba(0,0,0,0.24);
}

.table .row button:hover{
  border:solid var(--text-color) 0.0625rem;
}

.table td{
  text-align:center;
  width: 1.875rem;
}

@media screen and (max-width:360px){

  .table .head{
    font-size: 16px;
  }

  .table .row{
    font-size: 16px;
  }

  .table .row a{
    width: 2.075rem;
    height: 2.075rem;
  }

  .table .row button{
    border-radius: 2.075rem;
    font-size: 1rem;
  }

}

@media screen and (max-width:320px){

  .table .head{
    font-size: 14px;
  }

  .table .row{
    font-size: 14px;
  }

  .table .row a{
    width: 1.875rem;
    height: 1.875rem;
  }

  .table .row button{
    border-radius: 1.875rem;
    font-size: 1rem;
  }

  .table .row span{
    width:6.25rem;
  }

}

@media screen and (max-width:300px){
  .table .head span{
      width:80px;
  }


  .table .row span{
      width:80px;
  }

  .table .row div{
      width:80px;
      padding:0;
  }


}
